* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  color: #ffffff;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button:-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: 'Arial Regular';
  src: url("ArialMT.eot");
  src: url("ArialMT.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/ArialMT.woff") format("woff"), url("./assets/fonts/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Italic';
  src: url("Arial-ItalicMT.eot");
  src: url("Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Arial-ItalicMT.woff") format("woff"), url("./assets/fonts/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("Georgia.eot");
  src: url("Georgia.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Georgia.woff") format("woff"), url("./assets/fonts/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.start-screen .start-container .start-content .button:hover {
  background: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.start-screen .header, .start-screen .header .header-nav, .start-screen .start-container, .start-screen .start-container .start-content, .about .about-container, .about .about-container .about-content, .pets .pets-container, .pets .pets-container .pets-content, .pets .pets-container .pets-content__button, .pets .pets-container .pets-content .cards-conatiner, .pets .pets-container .pets-content .cards-conatiner .pets-card, .help, .help .icons-container, .help .icons-container .help-icon, .donation, .donation .donation-container, .donation .donation-container .donation-content, .donation .donation-container .donation-content .donation-button, .footer, .footer .footer-container, .footer .footer-container .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.help .icons-container .help-icon__title, .footer .footer-container .footer-content {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
}

body {
  background: #B2B2B2;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1280px;
  height: auto;
  margin: auto;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
}

.title {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  color: #545454;
  letter-spacing: 0.06em;
}

.text {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.start-screen, .about, .pets, .help, .donation, .footer {
  padding: 80px 40px 100px;
}

.start-screen {
  height: 908px;
  background: url(./assets/images/start-screen-background.png);
  color: #FFFFFF;
  padding-top: 60px;
}

.start-screen .header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 1200px;
  margin-bottom: 60px;
}

.start-screen .header .header-logo {
  text-align: right;
  letter-spacing: 1.35px;
}

.start-screen .header .header-logo__title {
  font-size: 32px;
}

.start-screen .header .header-logo__link {
  color: #F1CDB3;
}

.start-screen .header .header-logo__subtitle {
  font-size: 13px;
  margin-top: 10px;
}

.start-screen .header .header-nav {
  width: 443px;
}

.start-screen .start-container {
  height: 728px;
  width: 100%;
}

.start-screen .start-container .start-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 322px;
  width: 460px;
  margin-top: 163px;
}

.start-screen .start-container .start-content__title {
  font-size: 44px;
  line-height: 57.2px;
  color: #FFFFFF;
  letter-spacing: normal;
}

.start-screen .start-container .start-content__text {
  color: #CDCDCD;
}

.start-screen .start-container .start-content__button {
  height: 52px;
  width: 207px;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #292929;
}

.about {
  background: #FFFFFF;
}

.about .about-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 115px;
}

.about .about-container .about-image {
  height: 408px;
}

.about .about-container .about-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 380px;
  width: 430px;
}

.about .about-container .about-content__text {
  color: #4C4C4C;
}

.pets {
  background: #F6F6F6;
}

.pets .pets-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 697px;
}

.pets .pets-container .pets__title {
  text-align: center;
}

.pets .pets-container .pets-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.pets .pets-container .pets-content__button {
  height: 52px;
  width: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #292929;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pets .pets-container .pets-content .cards-conatiner {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 990px;
}

.pets .pets-container .pets-content .cards-conatiner .pets-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 435px;
  padding-bottom: 30px;
  border: none;
  border-radius: 12px;
  background: #FAFAFA;
}

.pets .pets-container .pets-content .cards-conatiner .pets-card__title {
  font-size: 20px;
  letter-spacing: 1px;
}

.pets .pets-container .pets-content .cards-conatiner .pets-card__button {
  height: 52px;
  width: 187px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #292929;
}

.pets .pets-container .pets__button {
  height: 52px;
  width: 261px;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #292929;
}

.help {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 611px;
  background: #FFFFFF;
}

.help__title {
  text-align: center;
}

.help .icons-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 281px;
  width: 1146px;
}

.help .icons-container .help-icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 113px;
  margin: 0 60px;
}

.help .icons-container .help-icon:first-child {
  margin-left: 0;
}

.help .icons-container .help-icon:nth-child(5) {
  margin-right: 0;
}

.donation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F6F6F6;
}

.donation .donation-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 915px;
}

.donation .donation-container .donation__img {
  height: 261px;
  width: 505px;
}

.donation .donation-container .donation-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 282px;
  width: 380px;
}

.donation .donation-container .donation-content .donation__subtitle {
  font-size: 15px;
  line-height: 16.5px;
}

.donation .donation-container .donation-content .donation-button {
  height: 43px;
  width: 349px;
  background: #F1CDB3;
  border: 2px solid #F1CDB3;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: #292929;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
}

.donation .donation-container .donation-content .donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  padding: 40px 40px 1.5px;
  background: url("./assets/images/footer-gradient-background.png");
}

.footer .footer-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  color: #F1CDB3;
  padding-top: 16px;
}

.footer .footer-container .footer__title {
  color: #FFFFFF;
}

.footer .footer-container .footer-content {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.footer .footer-container .footer-content .footer__text {
  text-align: left;
  margin-left: 20px;
}

.footer .footer__img {
  display: block;
}
/*# sourceMappingURL=style.css.map */