@import "./nullstyle.scss";

@font-face {
  font-family: 'Arial Bold';
  src: url('Arial-BoldMT.eot');
  src: url('Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
  url('Arial-BoldMT.woff') format('woff'),
  url('Arial-BoldMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial Italic';
  src: url('Arial-ItalicMT.eot');
  src: url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
  url('Arial-ItalicMT.woff') format('woff'),
  url('Arial-ItalicMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
  url('Georgia.woff') format('woff'),
  url('Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-dark-s: #CDCDCD;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;

@mixin button($height, $width, $bg-color) {
  height: $height;
  width: $width;
  background: $bg-color;
  border: 2px solid $color-primary;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: $color-dark-3xl;
}

%button-hovered {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
}

%flex-block {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: auto;
  margin: auto;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
}


.title {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  color: $color-dark-l;
}

.text {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.start-screen, .about, .pets {
  padding: 80px 40px 100px;
}

.start-screen {
  height: 908px;
  background: url(../../assets/images/start-screen-background.jpg) no-repeat 0 0 / 100% auto;
  color: $color-light-xl;
  padding-top: 60px;
  .header {
    @extend %flex-block;
    align-items: center;
    height: 60px;
    width: 1200px;
    margin-bottom: 60px;
    .header-logo {
      text-align: right;
      letter-spacing: 1.35px;
      &__title {
        font-size: 32px;
        letter-spacing: 2px;
      }
      &__link {
        color: $color-primary;
      }  
      &__subtitle {
        font-size: 13px;
        margin-top: 10px;
      }
    }
    .header-nav {
      @extend %flex-block;
      width: 443px; 
    }
    
  }
  .start-container {
    @extend %flex-block;
    height: 728px;
    width: 100%;
    .start-content {
      @extend %flex-block;
      flex-direction: column;
      height: 322px;
      width: 460px;
      margin-top: 163px;
      &__title {
        font-size: 44px;
        line-height: 57.2px;
        color: $color-light-xl;
      }
      &__text {
        color: $color-dark-s;
      }
      &__button {
        @include button(52px, 207px, $color-primary);
      }
      .button:hover {
        @extend %button-hovered;
      }
      
    }
  }

}

.about {
  .about-container {
    @extend %flex-block;
    justify-content: space-around;
    align-items: center;
    padding: 0 115px;
    .about-image {
      height: 408px;
  
    }
    .about-content {
      @extend %flex-block;
      flex-direction: column;
      height: 380px;
      width: 430px;
      &__text {
        color: $color-dark-xl;
      }
    }
  }
  
}

.pets {
  background: $color-light-l;
  .pets-container {
    @extend %flex-block;
    flex-direction: column;
    align-items: center;
    height: 697px;

    .pets__title {
      text-align: center;
    }
    
    .pets-content {
      @extend %flex-block;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &__button {
        @include button(52px, 52px, none);
        
      }

      .pets-card {
        @extend %flex-block;
        flex-direction: column;
        align-items: center;
        height: 435px;
        padding-bottom: 30px;
        border: none;
        border-radius: 12px;
        background: $color-light-s;

        &__title {
          font-size: 20px;
          letter-spacing: 1px;
        }
        &__button {
          @include button(52px, 187px, none);
        }
      }
    }

    .pets__button {
      @include button(52px, 261px, $color-primary);
    }


  }
}
