@import "./nullstyle.scss";

@font-face {
  font-family: 'Arial Regular';
  src: url('ArialMT.eot');
  src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/ArialMT.woff') format('woff'),
  url('./assets/fonts/ArialMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'Arial Italic';
  src: url('Arial-ItalicMT.eot');
  src: url('Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Arial-ItalicMT.woff') format('woff'),
  url('./assets/fonts/Arial-ItalicMT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url('Georgia.eot');
  src: url('Georgia.eot?#iefix') format('embedded-opentype'),
  url('./assets/fonts/Georgia.woff') format('woff'),
  url('./assets/fonts/Georgia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-3xl: #292929;
$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;
$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

@mixin button($height, $width, $bg-color) {
  height: $height;
  width: $width;
  background: $bg-color;
  border: 2px solid $color-primary;
  border-radius: 26px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  color: $color-dark-3xl;
  cursor: pointer;
}

%button-hovered {
    background: $color-primary-light;
    border: 2px solid $color-primary-light;
}

%flex-block {
  display: flex;
  justify-content: space-between;
}

%h4 {
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
}

* {
  scroll-behavior: smooth;
 
}

body {
  background: $color-dark-m;
}

a {
  color: $color-dark-3xl;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: auto;
  margin: auto;
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
}


.title {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 35px;
  line-height: 45.5px;
  color: $color-dark-l;
  letter-spacing: 0.06em;
}

.text {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.pets,.footer {
  padding: 80px 40px 100px;
}